---
layout: default
---

<section class="episode">
    <div class="episode-card">
        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        <div class="episode-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </div>

        {% if page.youtube_id %}
        <div class="episode-video">
            <iframe
                width="560"
                height="315"
                src="https://www.youtube-nocookie.com/embed/{{ page.youtube_id }}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
            ></iframe>
        </div>
        {% endif %}

        <div class="episode-content">
            {{ content }}
        </div>
    </div>

    <div class="related-phrases">
        <h3>Related Phrases</h3>

        <ul>
          {% for phrase in site.phrases %}
            {% if page.phrases contains phrase.slug %}
            <li>
                <a href="{{ phrase.url | relative_url }}">{{ phrase.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
    </div>

    <div class="view-all">
        <a href="/episodes" class="view-all-btn">View All Episodes</a>
    </div>
</section>
